[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
django-allauth = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
